 .title{
            position: relative;
            width: 90%;
            padding: 5px;
            margin: 2px;
             border: 2px solid blue;
             text-align: center;
        }
        .box{
            width: 150px;
            height: 300px;
        }
        img{
            width: 100%;
            margin-bottom: 50px;
        }
        button{
            margin-top: 50px;
        }
        .center{
            text-align:center;
        }
